/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }

/* style */
body {
    background-color: black;

}

.container {
    width: 960px;
    margin: auto;
}

.nav {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: white;
    padding-top: 14px;

}

.nav h2 {
    font-size: 18px;
    margin-left: 35px;
}

.nav ul li {
    display: inline-block;
    float: right;
    margin-right: 35px;

}

.nav a {
    padding: 2px;
    text-decoration: none;
    color:black;
}



.Home {
    height: 350px;
    background-image: url(unsplash.png);
    background-size: cover;
    background-position: 0 -220px;
    margin-top: 60px;
}

.paragraf {
    padding-top: 220px;
    padding-left: 50px;
}

.paragraf .p-satu {
    font-size: 20px;
}

.paragraf .p-dua {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.paragraf .p-tiga {
    font-size: 15px;
}

button {
    margin-left: 50px;
    margin-top: 15px;
    padding: 3px;
}

.about {
    height: 460px;
    background-color: white;
    margin-top: 60px;
}

.about .judul {
    font-size: 60px;
    font-weight: bold;
    color: grey;
    padding-top: 30px;
    padding-left: 30px;
}

.about .deskripsi {
    padding-left: 60px;
    padding-right: 60px;  
    padding-top: 5px; 
}

.isi {
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
}

.isi .judul-satu {
    padding-top: 18px;
    font-weight: bold;
}

.isi .satu button {
    /* margin-left: 710px; */
    float: right;
}

.isi .dua button {
    /* margin-left: 710px; */
    float: right;
}

.isi .tiga button {
    /* margin-left: 710px; */
    float: right;
}

.isi .isi-satu {
    padding-top: 13px;
}

.isi .judul-dua {
    padding-top: 18px;
    font-weight: bold;
}

.isi .isi-dua {
    padding-top: 13px;
}

.isi .judul-tiga {
    padding-top: 18px;
    font-weight: bold;
}

.isi .isi-tiga {
    padding-top: 13px;
}

.work {
    height: 420px;
    background-color: white;
    margin-top: 60px;
}

.main {
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
    
}

.work .judul {
    font-size: 60px;
    font-weight: bold;
    color: grey;
    padding-top: 30px;
    padding-left: 30px;
}

.work p {
    padding-top: 80px;
    padding-left: 60px;
    
}

.sidebar .editor {
    margin-left: 60px;
    float: left;
    margin-top: 100px;
}

.sidebar .edu {
    margin-right: 60px;
    float: right;
    margin-top: 100px;
}

.sidebar .teacher {
    margin-left: 160px;
}








