/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }

/* style */
body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    
}

nav {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between; 
    padding: 20px 0;
    color: white;
    position: fixed;
    box-sizing: border-box;
}
  
nav .logo {
    margin-left: 80px;
    font-size: 20px;
}
  
nav ul {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-between;
    margin-right: 90px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em; 
}
  
nav ul li a:hover {
    color: grey;
    background-color: white;
    border-radius: 0.8px;
    padding: 6px;
}


.Home {
    height: 680px;
    background-image: url(hilma.png);
    background-size: cover;
    background-position: 0 -50px;
    /* margin-top: 60px; */
}

.paragraf {
    padding-top: 220px;
    padding-left: 50px;
}

.paragraf .p-satu {
    font-size: 40px;
    
}

.paragraf .p-dua {
    color: black;
    font-weight: bold;
    font-size: 60px;
}

.paragraf .p-tiga {
    font-size: 20px;
}

button {
    margin-left: 50px;
    margin-top: 15px;
    padding: 3px;
}

.about {
    height: 600px;
    background-color: white;
    /* margin-top: 60px; */
}

.about .judul {
    font-size: 60px;
    font-weight: bold;
    color: grey;
    padding-top: 100px;
    padding-left: 30px;
}

.about .deskripsi {
    padding-left: 86px;
    padding-right: 90px;  
    padding-top: 30px; 
    text-align: justify;
}

.isi {
    padding-left: 86px;
    padding-right: 90px;
    text-align: justify;
}

.isi .judul-satu {
    padding-top: 18px;
    font-weight: bold;
}

.isi .satu button {
    /* margin-left: 710px; */
    float: right;
}

.isi .dua button {
    /* margin-left: 710px; */
    float: right;
}

.isi .tiga button {
    /* margin-left: 710px; */
    float: right;
}

.isi .isi-satu {
    padding-top: 13px;
}

.isi .judul-dua {
    padding-top: 18px;
    font-weight: bold;
}

.isi .isi-dua {
    padding-top: 13px;
}

.isi .judul-tiga {
    padding-top: 18px;
    font-weight: bold;
}

.isi .isi-tiga {
    padding-top: 13px;
}

.work {
    padding-top: 100px;
    height: 545px;
    background-color: white;
    /* margin-top: 60px; */
    box-sizing: border-box;
}

.main {
    width: 700px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
    
}

.work .judul {
    font-size: 60px;
    font-weight: bold;
    color: grey;
    padding-top: 30px;
    padding-left: 30px;
}

.work p {
    padding-top: 80px;
    padding-left: 60px;
    
}

.sidebar .editor {
    margin-left: 30px;
    float: left;
    margin-top: 150px;
}

.sidebar .edu {
    
    float: right;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 75px;
}

.sidebar .teacher {
    margin-left: 160px;
}

.contact {
    padding-top: 100px;
    height: 700px;
    background-color: white;
    /* margin-top: 60px; */
    box-sizing: border-box;
}

.contact .judul {
    font-size: 60px;
    font-weight: bold;
    color: grey;
    padding-top: 30px;
    padding-left: 30px;
}

.kiri{
    width: 650px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
    padding-top: 80px;
    padding-left: 60px;
    box-sizing: border-box
}

.kanan {
    width: 600px;
    float: right;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    /* untuk mengatur kotak contact us */
    line-height: 1.5;
    padding-right: 80px;
    box-sizing: border-box;
    
    
}

.contactUs {
    background: #ffffff;
    width: 90%;
    border: 1px solid black;
    /* ukuran padding putih ke biru */
    padding: 2rem;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05);
}

.judul-contact {
    background: grey;
    letter-spacing: 0.1rem;
    padding: 1rem;
    cursor: default;
    color: #ffffff;
    
    

}

form,
input,
textarea,
button {
    font-size: initial;
}

.form-group label {
    display: block;
    margin: 1rem 0 0.2rem 0;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}

.form-group textarea {
    resize: vertical;
}

.submit {
    background: grey;
    color: #ffffff;
    font-weight: bold;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    /* border: none; */
    cursor: pointer;
    margin-left: 0;
}

.submit:hover {
    background: rgb(174, 175, 184);
    color: black;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: 1px solid #1dbcfd;
}




